.container{
    height: 80vh;
    width: 80vw;
    background-color: var(--marfim);

    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    border-radius: 15px;
    overflow-y: scroll;
}

.user-header {
    text-align: center;
    margin-bottom: 2rem;
}

.navbar{
    padding: 0;
    margin-bottom: 2rem;
}

.navbar .container-fluid {
    background-color: var(--marfim);
}

.btn-primary, .btn-secondary, .btn-success  {
    background-color: var(--amarelo);
    border-color: var(--amarelo);
    color: var(--marrom);
}

.btn-danger {
    background-color: var(--marrom);
    border-color: var(--marrom);
    color: var(--marfim);
}

body {
    background-color: var(--amarelo);
}

