body {
    background-color: var(--amarelo);
    
}

@font-face {
    font-family: "Bakeriebold";
    src: url('../assets/fonts/Bakeriebold.otf');
}

.main {
    text-align: center;
    padding-top: 120px;
}

.titulo h1 {
    font-family: "Bakeriebold" ;
    src: url('../assets/fonts/Bakeriebold.otf');
    margin-top: 5%;
    margin-bottom: 3%;
    color: var(--marrom);
    font-size: 60px;
}

.flx_cont{
    display: flex;
    justify-content: center;
    
}

.cart_1 {
    

    display: inline-block;
    border: double #000000 ;
    transition: 0.8s;
    border-radius: 47px;
    background: linear-gradient(225deg, #2b1305, #331606);
    box-shadow:  -8px 8px 0px #1b0c03,
                 8px -8px 0px #451e09;
    margin: 1%;
    margin-bottom: 3%;
    
}

.cart_1:hover {

    border: groove #000000 3px;
    box-shadow: 0 0 2em black;
    transition: 0.5s;
}


.cart_1 h5 {
    color: var(--amarelo);
    font-size: 35px;
    font-family: "Bakeriebold";;
}

.cart_1 h6 {
    font-size: 85%;
}

.cart_1 p {
    color: var(--marfim);
}

.cart_link1 {
    text-decoration: none;
    color: var(--amarelo);
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

}

.cart_txt span {
    font-size: 10px;
}

.cart_link1 :hover {
    color: var(--marfim);
    opacity: 0.7;
}





.cart_link1:hover {
    color: var(--marfim);
    opacity: 0.7;
}  


.titulo_form {
    margin-top: 3%;
    color: var(--marrom);
    font-family: "Bakeriebold" ;
    src: url('../assets/fonts/Bakeriebold.otf');
    margin-bottom: 2%;
}


.form_1{
    background-color: var(--marrom);

    box-shadow: 0 0 1rem black;
    margin-left: 15%;
    margin-right: 15%;

    backdrop-filter: blur(19px) saturate(169%);
    -webkit-backdrop-filter: blur(19px) saturate(169%);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);

}


.form_2 {
    color: var(--amarelo);
    font-size: 26px;
    font-family: "Bakeriebold" ;
    src: url('../assets/fonts/Bakeriebold.otf');
}


.botao_1 {
    box-shadow: 0 0 1rem black;
    color: var(--marfim);
    background-color: var(--marrom);
    border-color: var(--marrom);
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;


    
}

.botao_2 :hover {
    border-color: var(--marfim) ;
    background-color: #198754;
    color:var(--marfim);
    

}



.maps h1 {
    margin-top: 3%;
    font-family: "Bakeriebold" ;
    src: url('../assets/fonts/Bakeriebold.otf');
    color: var(--marrom);
}

.maps iframe {
    
    width: 70%;
    margin-bottom: 3%;
    box-shadow: 0 0 1rem black;


}

@media (max-width: 1000px) {

    .flx_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }

    .titulo h1 {
        font-family: "Bakeriebold" ;
        src: url('../assets/fonts/Bakeriebold.otf');
        margin-top: 7%;
        margin-bottom: 5%;
        color: var(--amarelo);
    
    }

    

    .cart_1 {
        background-color: var(--marrom);
        display: inline-block;
        margin: 3%;
        margin-bottom: 3%;
        border-radius: 47px;
        background: linear-gradient(225deg, #2b1305, #331606);
        box-shadow:  -8px 8px 0px #1b0c03,
                     8px -8px 0px #451e09;
        max-width: 70%;
        max-height: 70%;

        
    }


    .cart_1 h5 {
        color: var(--amarelo);

    
    }
    
    .cart_1 p {
        color: var(--marfim);
    }

    .form_2 {
        color: var(--marfim);
        font-size: 16px;
    }

    .botao_1 {
        box-shadow: 0 0 1rem black;
        color: var(--marfim);
        background-color: var(--marrom);
        border-color: var(--marfim);
        margin-bottom: 5%;
        margin-left: 24%;
        margin-right: 24%;
        
    }
    
    .botao_2 :hover {
        border-color: var(--marfim) ;
        background-color: var(--amarelo);
        color:var(--marfim)
    }
}