body {

    text-align: center;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #301506;
    font-family: "Bakeriebold" ;
    src: url('../assets/fonts/Bakeriebold.otf');
    
}

@font-face {
    font-family: "Bakeriebold";
    src: url('../assets/fonts/Bakeriebold.otf');
}

.titulo h1 {
    margin-top: 5%;
    margin-bottom: 3%;
    color: #ecd393;

}
.titulo h3 {
    color: #ecd393;
}

.titulo p {
    color: #eff0ea;
    margin-top: 5px;
    margin-bottom: 2%;
}


.card {
    display: inline-block;
    margin: auto;
    margin-bottom: 3%;
    
}


.mb-3 {
    margin-left: 15%;
    margin-right: 15%;
}

.form-label {
    color: #eff0ea;
    font-size: 20px;
}




.maps h1 {
    margin-top: 3%;
    color: #ecd393;
}

.maps iframe {
    width: 70%;
    margin-bottom: 3%;

}