@font-face {
    font-family: "BakerieBold";
    src: url('../assets/fonts/BakerieBold.otf');
}

body {
    background-color: var(--marfim);
}

.card {
    background-color: var(--amarelo);
    border-color: black;
    border-width: 7px;
    border-radius: 15px;
    margin-top: 40px;
    box-shadow: 10px 5px 5px black;
}

.card-title {
    font-family: BakerieBold;
    font-size: 30px;
}

.jumbotron {
    color: var(--marrom);
    font-family: BakerieBold;
}

.btn-card {
    background-color: var(--marrom);
    color: var(--marfim);
    border-color: black;
    border-width: 2px;
}

.btn-card:hover {
    color: var(--amarelo);
}

.logout {
    background-color: red;
}

.fa-solid {
    margin-top: 10px;
    font-size: 100px;
    color: black;
}