main {
  background-color: var(--amarelo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 170px;
}

.carousel-item img {
  height: auto;
  min-width: 90vw;
}

.carousel-caption h5 {
  font-size: 300%;
  font-weight: bolder;
}

.latest-products {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.lp-title {
  color: var(--marrom);
  font-size: 60px;
}

.lp-cards {
  width: 90vw;
  overflow: hidden;
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
  gap: 4rem;
}

.card {
  height: 50%;
  max-width: 30rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--marrom);
  border-radius: 15px;
  padding: 2rem 4rem;
}

.card img {
  height: auto;
  width: 15rem;
  border-radius: 15px;
  transition: all 0.3s;
}

.card h3 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 40px;
  color: var(--amarelo);
  font-family: "BakerieBold";
}

.card img:hover {
  transform: scale(1.05);
}

.call-to-action {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto 5vw;
}

.cta-container {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  padding: 3%;
  background-color: var(--marrom);
}

.contato {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-cta img{
  height: auto;
  width: 500px;
  max-width: 85vw;
}

.text-cta {
  width: 50%;
}

.text-cta h1 {
  font-family: 'BakerieBold';
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--amarelo);
}

.text-cta p {
  color: var(--marfim);
  margin-bottom: 25px;
  font-size: 30px;
}

.btn-cta {
  background-color: var(--amarelo);
  color: var(--marrom);
  width: auto;
  box-shadow: 2px 2px 30px black;
  font-size: 30px;
  border-radius: 15px;
  background: linear-gradient(225deg, #d4be84, #fde29d);
  box-shadow:  -5px 5px 0px #5e543b,
               5px -5px 0px #ffffeb;
}

.btn-cta:hover {
  background-color: var(--marfim);
}

.interior-carrossel{
  height: 65vh;
  width: 90vw;
  justify-content: center;
}

.interior-carrossel img{
  max-width: fit-content;
  height: fit-content;
}

.cart img{
  height: 25vh;
}

@media(max-width:992px){
  .lp-cards{
    flex-direction: column;

  }

  .text-cta {
    width: 90%;
    
  }

  .text-cta p{
    font-size: 20px;
  }

}