main {
  background-color: var(--marrom);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 0;
}

.carousel-item img {
  max-width: 1200px;
  max-height: 670px;
}

.latest-products {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.lp-title {
  color: var(--amarelo);
}

.lp-cards {
  overflow: hidden;
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  height: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
}

.card img {
  width: 90%;
  border-radius: 15px;
  transition: all 0.3s;
}

.card h5 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: var(--marrom) !important;
}

.card img:hover {
  transform: scale(1.05);
}