.pagination{
    justify-content:center;
}

.item-pagination{
    color:var(--amarelo);
    background-color: var(--marrom);
    border:var(--marrom);
}

.actived{
    color:var(--marrom);
    background-color: var(--amarelo);
    border:var(--marrom);
}

.disabledd{
    color:var(--amarelo);
    background-color: var(--marrom);
    border: var(--marrom);
}