@font-face {
    font-family: "BakerieBold";
    src: url('../assets/fonts/BakerieBold.otf');
}

body{
    background-color: #ecd393;
    justify-content: center;
}

a{
    text-decoration: none;
}

h1 {
    font-family: "BakerieBold";
    color: #ecd393;
}

.indicacao{
    display: flex;
    height:6rem;
    line-height: 6rem;
    font-size: larger;
    justify-content: space-around;
}

.indicacao h1{
    width: 10rem;
    font-size: 60px;
}

.filter{
    display: flex;
    background-color: #1d0505;
    padding-left: 10%;
}

.bot{
    font-family: "BakerieBold";
    color:#ecd393;
    border-radius: 10%;
}

.main{
    padding-top: 2%;
    padding-bottom: 5%;
}

.container{
    height: 90vh;
    width: 100vw;
    display: grid;
}

.prod{
    border-color:#ecd393;
    border-radius:1%;
}

.prod-body{
    background-color: #301506;
    color:aliceblue;
}

.col :hover{
    box-shadow: 0 0 1em black;
}

.produto img{
    height: 55%;
    width: 100%;
    padding: 3%;
    border-radius: 15%;
}
.prod-body h1{
    font-size:xx-large;
    color: #e4c26e;
    margin-left: 3%;
}

.produto p{
    font-size: medium;
    margin-top: 5%;
    margin-left: 5%;
    font-size: large;
}

.botao {
    display:flex;
    flex-direction: row;
    font-family: "BakerieBold";
    justify-content: center;
    font-size: medium;
    text-decoration: none;
    background-color: #2e0000;
    width: 40%;
    height: 1.8rem;
    padding-bottom: 0%;
    border-radius: 10%;
    color:#eff0ea;
}

.botao a{
    all:unset;
}

.botao h4{
    color: #eff0ea;
    font-size: 1.5rem;
}

.batata-frita{
    background-color: rgb(158, 148, 62);
}

.esfiha{
    background-color: black;
}

.doce{
    background-color: limegreen;
}

.salgada{
    background-color: rgba(141, 141, 6, 0.514);
}

.pagina{
    justify-content: center;
    margin-right: 1%;
    margin-top: 2%;
}

.item-pag a{
    color:#ecd393;
    background-color: rgb(70, 34, 11);
    border: #8f0e0e;
}
