@font-face {
    font-family: "BakerieBold";
    src: url('../assets/fonts/BakerieBold.otf');
}

body{
    background-color: var(--amarelo);
    justify-content: center;
    padding-top: 152px;
}

a{
    text-decoration: none;
}

h1 {
    font-family: "BakerieBold";
    color: var(--marrom);
}

.indicacao{
    display: flex;
    height:6rem;
    line-height: 6rem;
    font-size: larger;
    justify-content: space-around;
}

.indicacao h1{
    width: 10rem;
    font-size: 60px;
}

.filter{
    display: flex;
    background-color: var(--amarelo);
    padding-left: 10%;
}

.bot{
    font-family: "BakerieBold";
    color:var(--amarelo);
    border-radius: 10%;
    background-color: var(--marrom);
    border: var(--marrom);
}

.main{
    padding-top: 2%;
    padding-bottom: 5%;
}

.container{
    height: fit-content;
    width: 100vw;
    display: grid;
}

.prod{
    border-color:var(--amarelo);
    border-radius:1%;
    background-color:var(--marrom);
}

.prod-body{
    background-color: var(--marrom);
    color:var(--marfim);
}

.col :hover{
    box-shadow: 0 0 1em black;
}

.prod img{
    height: 55vh;
    width: 100%;
    padding: 1%;
    border-radius: 15%;
}
.prod-body h1{
    font-size:xx-large;
    color: var(--amarelo);
    margin-left: 3%;
}

.produto p{
    font-size: medium;
    margin-top: 5%;
    margin-left: 5%;
    font-size: large;
}

.botao {
    display:flex;
    flex-direction: row;
    font-family: "BakerieBold";
    justify-content: center;
    font-size: medium;
    text-decoration: none;
    background-color: var(--marrom);
    width: 40%;
    height: 1.8rem;
    padding-bottom: 0%;
    border-radius: 10%;
    color:var(--marfim);
}

.botao a{
    all:unset;
}

.botao h4{
    color: var(--marfim);
    font-size: 1.5rem;
}

.btpesquisa{
    display:flex;
    flex-direction: row;
    font-family: "BakerieBold";
    justify-content: center;
    font-size: medium;
    text-decoration: none;
    background-color: var(--marrom);
    padding-bottom: 0%;
    border-radius: 10%;
    color:var(--marfim);
    border:none;
}

.Pizzas{
    background-color: #99751a;
}

.Porções{
    background-color: rgb(158, 148, 62);
}

.Salgados{
    background-color: rgb(153, 126, 7);
}

.Cafés{
    background-color: black;
}

.Doces{
    background-color: rgb(205, 3, 231);
}

.Entradas{
    background-color: rgba(141, 141, 6, 0.514);
}

.Alcoólicos{
    background-color: purple;
}

.Queijos{
    background-color: rgb(175, 175, 92);
}
.navigation{
    align-content: center;
}