@font-face {
    font-family: "BakerieBold";
    src: url('../assets/fonts/BakerieBold.otf');
}

body{
    background-color: #301506;
}

h1 {
    font-family: BakerieBold;
    color: #ecd393;
}

.indicacao{
    height:5rem;
    line-height: 5rem;
    font-size: larger;
}

.main{
    padding-left: 20%;
    padding-right: 20%;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.5% 1%;
}

.produto{
    background-color: #eff0ea;
    color: black;
    border-radius: 3%;
}

.produto img{
    height: 55%;
    width: 100%;
    padding: 3%;
    border-radius: 15%;
}

.produto_txt{
    padding-left: 5%;
}

.produto h2{
    font-size: medium;
}

.produto p{
    font-size:medium;
}