
.styled-sidebar{
   background-color: var(--marrom);
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.nav-button{
    all: unset;
}

.nav-link {
    
    color: var(--amarelo);
    font-size: 20px;
    padding: 15px;

}

.nav-link:hover{
    color: var(--marfim);
}

i{
    font-size: 25px;
}
