@font-face {
    font-family: "BakerieBold";
    src: url('../assets/fonts/BakerieBold.otf');
}



.botao-primario {
    background-color: green;
}

.flexbox_cont {
    display: flex;
    justify-content: center;

}

.inicio-sidebar {
    width: 17%;
}

.corpo-sidebar {
    background-color: yellow;
}

.corpo-sidebar ul {
    background-color: blue;
}

.listas {
    margin-top: 5%;
    margin-bottom: 5%;
    list-style: none;
}

.listas li {
    margin-bottom: 1rem;
    
}

.listas li:hover {
    color: red;
}


.botao-logout1 {
    background-color: green;
}
.botao-logout2 {
    margin-top: 18rem;
    
}