footer {
    background-color: var(--marrom);
    color: var(--marfim);
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-footer {
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}

.footer-link {
    text-decoration: none;
    color: var(--marfim);
}

.footer-link:hover {
    color: var(--amarelo);
    text-decoration: none;
}

.footer-btn:hover {
    border-color: var(--amarelo);
    background-color: var(--amarelo);
    color: var(--marfim);
}

.footer-icon:hover {
    border-color: var(--amarelo);
    color: var(--amarelo);
    background-color: var(--marrom);
}