@font-face {
    font-family: "BakerieBold";
    src: url('../assets/fonts/BakerieBold.otf');
}


.container-1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px;
    grid-row-gap: 10px;
    background-color: orange;
}

.container {
    display: grid;
    grid-template-columns: 10% auto 20%;
    grid-template-rows: 2;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

}

.item {
    background-color: black;
    color: yellow;
}

.container-botoes{
    display: flex;
    justify-content: end;
    background-color: black;

}

.botao-grupo1 {
    margin-right: 5px;
}

.botao-grupo2 {
    margin-right: 5px;
}

.botao-grupo3 {
    margin-right: 5px;
}
