@font-face {
    font-family: "BakerieBold";
    src: url('../assets/fonts/BakerieBold.otf');
}

body {
    background-color: #ecd393;
}

.card-container {
    max-width: 100%;
    padding-top: 9vh;
}

.card {
    background-color: #301506;
    border-color: black;
    border-width: 5px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 10px;
    max-width: 722px;
    flex-direction: row-reverse;
}

.card-title,
h3 {
    font-family: BakerieBold;
    font-size: 40px;
    color:#ecd393;
}

hr {
    border-top: 3px solid #eff0ea;
}

.btn-card {
    background-color: #301506;
    color: #eff0ea;
    border-color: black;
    border-width: 2px;
}

.btn-card:hover {
    color: #ecd393;
}

.card-img-top {
    max-width: 500px;
}

.info {
    color: #301506;
}

.info h3{
    color: #301506;
}

.card-text {
    color: #eff0ea;
}

@media(max-width : 992px){

    .card{
        flex-direction: column;
        align-items: center;
        max-width: 500px;
    }

}