@font-face {
    font-family: "BakerieBold";
    src: url('../assets/fonts/BakerieBold.otf');
}
html, body {
    height: 100%;
    margin: 0;
  }
body {
    background-color: var(--amarelo);
}

.card-container {
    max-width: 100%;
    padding-top: 9vh;
}

.card {
    background-color: var(--marrom);
    border-color: black;
    border-width: 5px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 10px;
    max-width: 722px;
    flex-direction: row-reverse;
}

.card-title,
h3 {
    font-family: BakerieBold;
    font-size: 40px;
    color:var(--amarelo);
}

hr {
    border-top: 3px solid var(--marfim);
}

.btn-card {
    background-color: var(--marrom);
    color: var(--marfim);
    border-color: black;
    border-width: 2px;
}

.btn-card:hover {
    color: var(--amarelo);
}

.card-img-top {
    max-width: 500px;
}

.info {
    color: var(--marrom);
}

.info h3{
    color: var(--marrom);
}

.card-text {
    color: var(--marfim);
}

.content {
    padding: 15px;
    min-height: 100%;
}


@media(max-width : 992px){

    .card{
        flex-direction: column;
        align-items: center;
        max-width: 500px;
    }

}