<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>Contato Banhatos's</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/contato1.css">


</head>


<body>

  <div class="titulo"> 
        
    <h1> Contato </h1>

</div>
    
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">E-mail</h5>
      <h6 class="card-subtitle mb-2 text-muted">Envie um E-mail para nós</h6>
      <p class="card-text">Entre em contato para futuras parcerias ou para falar diretamente com o setor administrativo (Não realizamos pedidos pelo E-mail).</p>
      <a href="https://www.google.com/intl/pt-BR/gmail/about/" target="_blank" class="card-link">Gmail</a>
      <a href="#" target="_blank" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Redes sociais</h5>
      <h6 class="card-subtitle mb-2 text-muted">Conheça nosso trabalho nas redes sociais</h6>
      <p class="card-text">Em nossas redes sociais você irá encontrar nossos trabalhos mais recentes, feedbacks dos nossos clientes e tudo sobre a rotina da pizzaria.</p>
      <a href="https://www.instagram.com/" target="_blank" class="card-link">Instagram</a>
      <a href="https://pt-br.facebook.com/" target="_blank" class="card-link">Facebook</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Telefone</h5>
      <h6 class="card-subtitle mb-2 text-muted">Ligue e faça o seu pedido</h6>
      <p class="card-text"> Realizamos pedidos pelo WhatsApp (clique no ícone abaixo) e também por telefone .<br> Tel: (32) 4002-8922 </p>
      <a href="#" target="_blank" class="card-link">WhatsApp</a>
      <a href="#" target="_blank" class="card-link">Telefone</a>
    </div>
  </div>


    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Digite o seu nome</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="EX: Brenner Costa">
    </div>


      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Digite o seu E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>


      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Assunto</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>


      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Digite sua mensagem</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>





            <div class="maps">

                <h1> Nossa localização </h1>

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d118602.28761902434!2d-43.38252099999999!3d-21.7290588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1649796212119!5m2!1spt-BR!2sbr" width="" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
    

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>



</html>